<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">
        <!--        <img src="assets/img/star-wars-128x16-black.png" width="128" height="16" alt="" loading="lazy">-->
        <img src="assets/img/corellian-store-127x26.png" width="127" height="26" alt="" loading="lazy">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']">Home</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['star-ships']">Ships</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['about']">About Store</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Buscar nave" (keyup.enter)="buscarShip(buscarTexto.value)" #buscarTexto>
            <button (click)="buscarShip(buscarTexto.value)" class="btn btn-outline-dark my-2 my-sm-0" type="button">Buscar</button>
        </form>

        <span class="navbar-text">
            <button *ngIf="!auth.loggedIn" (click)="auth.login()" class="btn btn-outline-success">
                Log in
            </button>
            <button *ngIf="auth.loggedIn" (click)="auth.logout()" class="btn btn-outline-danger">
                Log out
            </button>
        </span>

    </div>
</nav>