/* General */

body {
    padding-bottom: 50px;
}

.main-container {
    margin-top: 20px;
}

.img-logo {
    width: 80px;
}

li {
    cursor: pointer;
}


/* Animacions */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}


/* Cards */

.card-columns {
    column-count: 2;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
}


/* NavBar */

.navbar-light .navbar-nav>li>a,
.navbar .navbar-nav>li>a:hover,
.navbar .navbar-nav>li>a:focus {
    position: relative;
    /*    font-weight: bold;*/
    color: #777;
}

.navbar .navbar-nav>li>a:before {
    background-color: rgba(0, 0, 0, .9);
    content: "";
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navbar .navbar-nav>li>a:hover:before,
.navbar-default .navbar-nav>li>a:focus:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar .navbar-nav>li>a.active:before {
    background-color: rgba(0, 0, 0, .9);
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar .navbar-nav>.open>a {
    color: #777;
    /*    font-weight: bold;*/
    background-color: #FFFFFF;
}

.navbar .navbar-nav>.open>a:hover,
.navbar .navbar-nav>.open>a:focus {
    background-color: #FFFFFF;
}

.navbar-nav-log {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.mr-auto {
    margin-right: auto!important;
}


/* Paginació */

.pagination .page-item .page-link {
    color: #212529;
    /*    border: 0;*/
}

.page-item.active .page-link {
    background-color: #9a9c9a;
    border-color: #202220;
}


/* input */

.form-control:focus {
    border-color: #202220;
    box-shadow: 0 0 0 0.2rem rgba(82, 87, 83, 0.25);
}